
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
}
nav{
    background:#005f99;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo a{
    text-decoration:none;
}

.logo span{
    color:white;
    font-size:35px;
    font-weight:bold;
}

.menu a{
    color:white;
    text-decoration:none;
    margin-left:25px;
    font-size:18px;
}

.menu a:hover{
    color:yellow;
}

nav a{
    color:white;
    text-decoration:none;
    margin-right:20px;
}

nav a:hover{
    color:yellow;
}

nav span{
    font-size:28px;
    font-weight:bold;
}



header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:50px;
    background:white;
}

header div{
    width:45%;
}

header h1{
    font-size:45px;
    margin:20px 0;
}

header p{
    margin-bottom:20px;
}

header img{
    width:100%;
    border-radius:10px;
}
button{
    background:#005f99;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    margin-right:10px;
    cursor:pointer;
}

button:hover{
    background:#004070;
}

button a,footer a{
    color:white;
    text-decoration:none;
    margin:0 10px;

}



section{
    padding:40px;
}

section h2{
    text-align:center;
    margin-bottom:10px;
}

section p{
    text-align:center;
    margin-bottom:30px;
}



article{
    background:white;
    width:300px;
    padding:20px;
    border-radius:10px;
    text-align:center;
    display:inline-block;
    margin:15px;
    vertical-align:top;
}

article h3{
    margin:15px 0;
}

article a{
    text-decoration:none;
    color:#005f99;
}

/* Statistics */

.stats{
    background:#005f99;
    color:white;
    text-align:center;
    padding:40px;
}

.stats div{
    display:inline-block;
    width:30%;
}

/* Last Section */

.last{
    text-align:center;
    background:#e8f4ff;
}

.last a{
    text-decoration:none;
    background:#005f99;
    color:white;
    padding:10px 20px;
    border-radius:5px;
}

/* Footer */

footer{
    background:#005f99;
    color:white;
    text-align:center;
    padding:20px;
}

footer a:hover{
    color:yellow;
}

.request{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    padding:50px;
}

.image{
    width:45%;
}

.image img{
    width:100%;
    border-radius:10px;
}

.form{
    width:45%;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0px 0px 10px lightgray;
}

.form h2{
    margin-bottom:20px;
    text-align:center;
}

input,
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    border:1px solid gray;
    border-radius:5px;
}

textarea{
    resize:none;
}

.videos{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    padding:30px;
}

.video{
    width:420px;
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 10px lightgray;
}

.video iframe{
    width:100%;
    height:250px;
    border:none;
    border-radius:10px;
}

.video h3{
    margin-bottom:15px;
}
.cards{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
    margin-top:20px;
}

.card{
    width:300px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 8px lightgray;
}

.card h3{
    color:#005f99;
    margin-bottom:10px;
}

.card p{
    text-align:left;
}